*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}::placeholder, label i{
	color:#ff8c00 !important;
}
::selection{
background-color:#FF8C00;
color:#fff;
}
.main{
	display: flex;
	padding:40px 5px;
	flex-direction: column;
	flex-wrap: wrap;
    
}
#services, #about{
	background-color:rgba(0,0,0, 0.9);
	color:#fff;
}
#cont, #services .productIntro{
	background-color: rgb(32, 32, 32);
	color:#fff;
}
.btn{
	background-color:#000;
	color:#fff;
	border:1px solid #000;
}
.btn:hover, .btn:focus, .btn:active{
	background-color:#FF8C00;
 color:#FFF;
 font-weight: 600;
 outline:#FF8C00;
 border:1px solid #FF8C00;
 box-shadow: none;
}

.panel{
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
  border-radius: 6px;
    border: 0;
}
@-moz-document url-prefix() {
    .form-control{
      height: auto;
    }
}
.panel-primary{
  background-color: #2c3e50;
  color: #fff;
}
.panel-primary>.panel-heading {
    color: #fff;
    font-size: 20px;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.btn-warning{
  background-color: transparent;
  border-color: #bdc3c7;
}





.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FF8C00;
    outline: 0;
    box-shadow: 5px 5px 5px #FF8C00;
}
.navbar{
	background-color:rgba(0,0,0,1);

}
.navbar-nav .nav-item{
	margin:auto 50px;
}

.navbar-nav .nav-item a.nav-link {
	color:#fff;
	font-weight: 600;
	letter-spacing: 0.03em;
	font-size: 20px;
	transition:0.3s all;
}
.navbar-nav .nav-item a.nav-link:hover{
	
	font-weight: 800;
	color:#FF8C00;
	
}


.main h2{
	position: relative;
}
.main h2:before{
	position: absolute;
	content: '';
	width:5%;
	margin:0 10px;
	height:1px;
	border:1px solid #FF8C00;
}
.main .product, .main .product2{
	display: flex;
	margin:20px 0;
	flex-wrap: wrap;
	width:100%;
}
.contentBox{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% / 3 - 40px);
	margin:auto;
	border:1px solid #000;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.6s all;
}

.contentBox .imgBox{
	display: inline-flex;
	width:100%;
	overflow: hidden;
	
}
.contentBox .imgBox img{
	width:100%;
	transition: 0.5s all;
}
.imgBox:hover img{
	transform:scale(1.3);
}
.contentBox:hover{
		transform: translateY(-5px);
	border-radius:10px;
box-shadow: 5px 10px 8px 7px #000;
}


.description{
	display: flex;
	flex-direction: column;
	width:100%;
	transition:0.5s all;
}
.contentBox .description .area{
	position: relative;
}
.contentBox .description .area:before{
	position: absolute;
	content: '';
	width:90%;
	margin:0 10px;
	height:1px;
	border:1px solid #FF8C00;
}
.description h4, .description p{
	margin:10px;
}
.description .area{
	display: flex;
	list-style: none;
}
.description .area li{
	margin:5px 10px;
}

.contentBox .description button{
	display: block;
	width:50%;
	margin:10px auto;
}
.contentBox .description h4{
	text-align: center;
}


.productContentImg img{
	transition: 0.4s all;
}
.productContentImg:hover img{
	box-shadow: 5px 10px 8px 7px #000;
	transform: translateY(-5px);
	border-radius:10px;
}
.aboutContent{
	display: flex;
	padding:15px 0;
}
.aboutContent .box{
	width:calc(100% / 2 - 20px);
	
	overflow: hidden;
	margin:0 auto;
}
#about h4{
	text-align: center;
}

.aboutContent .img img{
	width: 100%;
}
.item{
	border:1px solid #ccc;
}
.item .imgbox{
	padding:10px;
}
.item .imgbox img{
	border-radius:50%;
}
.item .descriptinoBox p{
	text-align: center;
}
#cont .main{
	flex-direction: row;
}
.contactBox{
	width: calc(100% / 2 - 20px);
    overflow: hidden;
    margin: 0 auto;
}
.contactleft{
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/contact.jpg");
	background-size:100% 100%;
	color:#FF8C00;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size:50px;
}
.footerLogo{
	display: block;
	margin:auto;
}
footer{
	background-color:#000;
	padding:30px 0;
}
footer .footermail{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer .second{
	display: flex;
	flex-direction: row;
}
footer  .box{
	width:calc(100% / 3);
	text-align:center;
	margin:20px 0;
}
.footerMail h4, .footerNumber h4, .footerAddress h4{
	color:#ff8c00;
}
.footerMail a, .footerNumber a .footerAddress p{
	color:#fff !important;
	text-decoration: none;
}
.socialIcons{
	display: flex;
	justify-content: center;
}
.social_icon{
	list-style: none;
    display: flex;
    justify-content: center;
    color:#fff;
}
.social_icon li a{
	width: 30px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;

    margin: 0 10px;
    line-height: 50px 50px 10px 10px;
    color:#fff;
    padding: 3px 8px 5px 8px;
}
.social_icon li a{
	background-color:#000;
}

.social_icon li a:hover{
	background-color:#FF8C00;
	color:#FFF;
	border:1px solid #FF8C00;
}
.productionContainer{
	display: flex;
	flex-wrap: wrap;

}
.productionContainer .box{
	display: flex;
	width:calc(100% / 2 - 20px);
	flex-direction: column;
	margin:auto;
}
.productionContainer .productContentImg{
	display: flex;
	align-items: center;
}
.navbar-nav .nav-item a.nav-link:active li{
	background-color:#FF8C00;
 color:#FFF
}
nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.main .productDescription{
display: flex;
flex-direction: column;
}
.main .productDescription .contentDescription {
display: flex;
flex-direction: column;
}

.main .productDescription .contentDescription .contentfly{
display: flex;
flex-wrap: wrap;

}
.aboutContent{
	display: flex;
flex-wrap: wrap;
}
.aboutContent .dirImage{
	display: flex;
	justify-content: center;
}
.aboutContent .box{
	display: flex;
width:calc(100% / 2 - 20px);
margin:auto;
}
.main .productDescription .contentDescription .contentfly .box{
	display: flex;
width:calc(100% / 2 - 20px);
margin:auto;
}
.main .productDescription .contentDescription .contentflyLeft{
	display: flex;
	width:100%;
	overflow: hidden;
	flex-direction: column;

}
.main .productDescription .contentDescription .contentflyRight{
display: flex;
	width:100%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
.mobile{
	display: none;
}
#reused_form .form-group:last-child{
	margin-bottom: 0px;
}
@media only screen and (max-width: 768px){
	#home{
		margin-top:57px;
	}
	.contentBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    border: 1px solid #000;
}
.aboutContent , #cont .main{
	  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
   
}
#cont .contactleft{
	height:60vh;
}

.aboutContent .box, #cont .contactBox{
	margin:0;
	width:100%;
}
.second{
	display: flex;
	flex-wrap: wrap;
}
.second .box, .productionContainer .box{
	display: flex;
	flex-direction: column;
	width:100%;
	justify-content: center;
}
.product .contentBox{
	width:100%;
	overflow: hidden;
}
#services .main .product .contentBox{
	width:100vw;
	overflow: hidden;
}
.contentDes  .box, .contentfly .box{
	display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
}
.main .productDescription .contentDescription .contentfly{
display: flex;
flex-wrap: wrap;

}
.main .productDescription .contentDescription .contentfly .box{
	display: flex;
	flex-wrap: wrap;
width:100%;
margin:20px 0;
}
.aboutContent .box{
	display: flex;
	flex-wrap: wrap;
width:100%;
margin:20px 0;
}
.laptop{
	display: none;
}
.mobile{
	display: block;
}
.main .product{
	overflow-x: hidden;
	margin:5px 0px;
}
}